.submarineGameScreen {
    width: 100;
    height: 120px;
    size: 100px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
}

.boatGameScreen {
    height: 90px;
    padding-left: 40px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
}

.carrierGameScreen {
    height: 140px;
    width: 200px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
}

.cruiseGameScreen {
    height: 130px;
    width: 180px;
    padding-left: 40px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
}