.generalContainerGameScreen {
    display: grid;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
}

.boardsContainerGameScreen {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}