
.generalContainerGB {
    display: table;
    align-self: center;
    align-items: center;
}

.generalContainerGB h1 {
    font-size: 50px;
    color: white;
    font-family: 'Creepster', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    letter-spacing: 2px; 
    line-height: 1.2;
    text-align: center;
}
.generalContainerGB p {
    font-size: 20px;
    color: white;
    font-family: 'Creepster', sans-serif; 
    text-shadow: 2px 2px 4px rgba(255, 29, 29, 0.9); 
    letter-spacing: 2px; 
    line-height: 1.2;
    text-align: center;
}

.submarineGameBoard {
    width: 100;
    height: 120px;
    size: 100px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
}

.boatGameBoard {
    height: 90px;
    padding-left: 40px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
}

.carrierGameBoard {
    height: 140px;
    width: 200px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.cruiseGameBoard {
    height: 130px;
    width: 180px;
    padding-left: 40px;
    clip-path: fill-box;
    position: absolute;
    pointer-events: none;
}

.explosion-iconGameBoard {
    align-self: stretch;
    position: sticky;
    z-index: 3;
    background-size: cover;
    width: 40px;
    height: 40px;
    animation: fadeIn 1s ease-in-out;
    top: 0;
    left: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
